@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-[#e7f2f3]
}

.bg-primary {
  @apply bg-[#e7f2f3]
}

.btn-bg-primary {
  @apply bg-[#018180]
}

.text-primary {
  @apply text-[#018180]
}

.swiper-pagination-bullet {
  margin: 0 6px !important; 
  background-color: #018180 !important;
  opacity: 50; 
}

.swiper-pagination-bullet-active {
  background-color: #018180 !important;
  scale: 1.8;
}